@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  font-family: "Inter", sans-serif;
}

.btn-yellow {
  background-color: #F9D783;
  border: solid 1px #F9D783;
  color: #191919;
  padding: 15px 25px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-yellow i {
  margin-left: 5px;
  font-size: 0.5em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid;
  color: #f0ef09;
}

.btn-transparent {
  background-color: transparent;
  border: solid 1px #191919;
  color: #191919;
  padding: 15px 25px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-transparent i {
  margin-left: 5px;
  font-size: 0.5em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid;
  color: #f0ef09;
}

.btn-transparent-mid {
  background-color: transparent;
  border: solid 1px #191919;
  color: #191919;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-transparent-mid i {
  margin-left: 5px;
  font-size: 0.5em;
}
.btn-transparent-mid:hover {
  background-color: #191919;
  border: 1px solid;
  color: #f0ef09;
}

.btn-black {
  background-color: #191919;
  border: solid 1px #191919;
  color: white;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Inter";
  font-weight: normal;
}
.btn-black i {
  margin-left: 5px;
  font-size: 0.5em;
  opacity: 1;
}
.btn-black:hover {
  background-color: #F9D783;
  border: 1px solid;
  color: #191919;
  text-decoration: none;
}
.btn-black:hover span {
  text-decoration: underline;
}

.btn-black-btm {
  background-color: #191919;
  border: solid 1px #191919;
  color: white;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Inter";
  font-weight: normal;
  margin-bottom: 92px;
}
.btn-black-btm i {
  margin-left: 5px;
  font-size: 0.5em;
  opacity: 1;
}
.btn-black-btm:hover {
  background-color: #F9D783;
  border: 1px solid;
  color: #191919;
  text-decoration: none;
}
.btn-black-btm:hover span {
  text-decoration: underline;
}

.all-reviews-btn {
  background-color: #191919;
  border: solid 1px #191919;
  color: white;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Inter";
  font-weight: normal;
}
.all-reviews-btn i {
  margin-left: 5px;
  font-size: 1em;
  opacity: 1;
}
.all-reviews-btn:hover {
  background-color: #191919;
  border: 1px solid white;
  color: white;
  text-decoration: none;
}
.all-reviews-btn:hover span {
  text-decoration: underline;
}

.btn-black-meet-team {
  background-color: #F9D783;
  border: solid 1px #191919;
  color: #191919;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Inter";
  font-weight: normal;
}
.btn-black-meet-team i {
  margin-left: 5px;
  font-size: 1em;
  opacity: 1;
}
.btn-black-meet-team:hover {
  background-color: #191919;
  border: 1px solid white;
  color: white;
  text-decoration: none;
}
.btn-black-meet-team:hover span {
  text-decoration: underline;
}

.trn-btn-art-sec {
  background-color: white;
  border: solid 1px #191919;
  color: #191919;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
  font-family: "Inter";
  font-weight: normal;
}
.trn-btn-art-sec i {
  margin-left: 5px;
  font-size: 1em;
  opacity: 1;
}
.trn-btn-art-sec:hover {
  background-color: #191919;
  border: 1px solid white;
  color: white;
  text-decoration: none;
}
.trn-btn-art-sec:hover span {
  text-decoration: underline;
}

header {
  background-color: #F0EFE9;
  display: flex;
  padding: 20px;
}
header .container {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
}
header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .contact-information {
  display: none;
}
@media (min-width: 1200px) {
  header .container .menu .contact-information {
    display: flex;
  }
}
header .container .menu .content-box {
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  padding-right: 20px;
  font-family: "Inter", sans-serif;
  font-size: 15;
  font-weight: 300;
}
header .container .menu .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #666666;
}
header .container .menu .content-box.last {
  border: none;
}
header .container .social-media a {
  color: #191919;
  font-size: 1.2rem;
  margin-left: 10px;
}
header .container .social-media a:hover {
  color: #666666;
}
header .container .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container nav a.active {
  font-weight: 500;
}
header .container nav a.active::after, header .container nav a:hover::after {
  content: "";
  display: inline-block;
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 86px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 50px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
  }
}
.showcase .container .content a {
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 600px) {
  .showcase .container .content a {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .showcase .container .content {
    font-size: 20px;
  }
}
.showcase img {
  margin-right: -50px;
}
@media (max-width: 768px) {
  .showcase img {
    display: none;
  }
}

.company-showcase .container .clients {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 72px;
  padding-bottom: 80px;
}

.company-features .container {
  display: flex;
  align-items: start;
  padding-top: 80px;
  padding-bottom: 80px;
  border: 2px solid RGBA(25, 25, 25, 0.2);
}
.company-features .container .features {
  padding-right: 100px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 50%;
}
.company-features .container .features p {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  color: #f94d1c;
  margin-bottom: 0px;
}
.company-features .container .features h3 {
  font-family: "DM Sans";
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  color: #191919;
}
.company-features .container .features a {
  text-align: center;
  font-size: 16px;
  width: 400px;
  height: 56px;
}
.company-features .container .company-features-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.company-features .container .company-features-icons .iconStack i {
  width: 40px;
  height: 40px;
}
.company-features .container .company-features-icons .iconStack p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: rgba(25, 25, 25, 0.7);
}

.aboutCompany .container {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  justify-content: center;
}
.aboutCompany .container img {
  width: 533px;
  height: 615;
  margin-left: 50px;
  margin-right: 170px;
}
.aboutCompany .container .aboutCompanyContent {
  justify-content: space-between;
}
.aboutCompany .container .aboutCompanyContent h4 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #f94d1c;
}
.aboutCompany .container .aboutCompanyContent h3 {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  color: #191919;
  margin-bottom: 37px;
}
.aboutCompany .container .aboutCompanyContent p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: rgba(25, 25, 25, 0.7);
  padding-bottom: 30px;
}
.aboutCompany .container .aboutCompanyContent .icon-pack {
  display: flex;
}
.aboutCompany .container .aboutCompanyContent .icon-pack a {
  display: flex;
  align-items: center;
}
.aboutCompany .container .aboutCompanyContent .icon-pack .play-button {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #191919;
}
.aboutCompany .container .aboutCompanyContent .icon-pack .play-button i {
  font-size: 3rem;
  padding-left: 30px;
  padding-right: 8px;
}
.aboutCompany .container .aboutCompanyContent .icon-pack .play-button:hover {
  color: #f94d1c;
  text-decoration: none;
}

.companyServices {
  display: flex;
  align-content: center;
  background-color: #F0EFE9;
}
.companyServices .container .content-header {
  padding-top: 120px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  font-style: normal;
  color: #f94d1c;
}
.companyServices .container h3 {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #191919;
  padding-bottom: 48px;
}
.companyServices .container .stacks-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  padding-bottom: 48px;
}
.companyServices .container .stacks-showcase .squares-button {
  background-color: #ffffff;
  padding: 30px 35px;
  text-decoration: none;
}
.companyServices .container .stacks-showcase .squares-button h4 {
  padding-top: 30px;
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  color: #191919;
}
.companyServices .container .stacks-showcase .squares-button p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: rgba(25, 25, 25, 0.7);
}
.companyServices .container .stacks-showcase .squares-button .icon-square {
  display: flex;
  justify-content: end;
}
.companyServices .container .stacks-showcase .squares-button .icon-square i {
  font-size: 20px;
  border-radius: 50%;
  color: #ffffff;
  background: black;
  padding: 10px 10px;
}
.companyServices .container .stacks-showcase .squares-button:hover {
  background-color: #F9D783;
}
.companyServices .container .stacks-showcase .squares-button:hover i {
  color: #191919;
  background: #ffffff;
}
.companyServices .container .singleButton {
  display: flex;
  justify-content: center;
  margin-bottom: 119px;
}

.whyChooseUs .container {
  display: flex;
  margin-top: 43px;
  width: 1620px;
  height: 630.3px;
}
.whyChooseUs .container .leftSection h3 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  color: #f94d1c;
}
.whyChooseUs .container .leftSection h4 {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #191919;
  margin-bottom: 43px;
}
.whyChooseUs .container .leftSection .stackIconArg {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: 25px;
}
.whyChooseUs .container .leftSection .stackIconArg img {
  width: 55px;
  height: 55px;
  margin-right: 25px;
}
.whyChooseUs .container .leftSection .stackIconArg .textStack h5 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
}
.whyChooseUs .container .leftSection .stackIconArg .textStack p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  letter-spacing: -10px;
  color: rgba(25, 25, 25, 0.7);
}
.whyChooseUs .container .rightSection {
  width: 1057px;
  height: 584px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.whyChooseUs .container .rightSection img {
  margin-bottom: 98px;
  position: absolute;
  left: 110px; /* Adjust the left property to move the image to the right */
  top: 3%;
  width: 84%;
  height: 80%;
}
.whyChooseUs .container .rightSection .blueBox {
  position: absolute;
  top: 32%;
  background-color: #F0EFE9;
  z-index: -1; /* Set a negative z-index to place it behind the image */
  overflow: visible;
  width: 884px;
  height: 398px;
}

.global-projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.global-projects .container .top-global {
  margin-top: 50px;
  margin-bottom: 65px;
}
.global-projects .container .top-global h3 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #f94d1c;
}
.global-projects .container .top-global h4 {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  line-height: 55px;
  font-style: normal;
  text-align: center;
  color: #191919;
}
.global-projects .container .global-projects-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 20px;
}
.global-projects .container .global-projects-box .box-container img {
  width: 100%;
  margin-bottom: 30px;
}
.global-projects .container .global-projects-box .box-container h4 {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
.global-projects .container .global-projects-box .box-container .linkB {
  display: flex;
  justify-content: end;
  color: #191919;
  margin-bottom: 30px;
  padding-top: 15px;
}
.global-projects .container .global-projects-box .box-container .linkB span {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #191919;
  margin-right: 2px;
}
.global-projects .container .global-projects-box .box-container .linkB i {
  width: 16px;
  height: 16px;
  color: #191919;
}
.global-projects .container .global-projects-box .box-container .linkB:hover {
  color: #191919;
  text-decoration: none;
}
.global-projects .container .global-projects-box .box-container .linkB:hover span {
  text-decoration: underline;
}

.meet-the-team {
  background-color: #EDCF87;
}
.meet-the-team .container {
  display: flex;
  flex-direction: column;
}
.meet-the-team .container h4 {
  margin-bottom: 18px;
  margin-top: 121px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  color: #f94d1c;
}
.meet-the-team .container .top-header-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 85px;
}
.meet-the-team .container .top-header-button h3 {
  font-family: "DM Sans";
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  color: #191919;
}
.meet-the-team .container .team-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
.meet-the-team .container .team-showcase .employee-box .IMGSHOW {
  width: 254px;
  height: 320px;
  margin-bottom: 28px;
}
.meet-the-team .container .team-showcase .employee-box h4 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  color: #191919;
}
.meet-the-team .container .team-showcase .employee-box p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  font-style: normal;
  color: rgba(25, 25, 25, 0.7);
}
.meet-the-team .container .imgpart {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 32px;
}

.testimonials {
  background-color: #EDCF87;
  padding: 5rem;
  display: flex;
  justify-content: center;
}
.testimonials .white-box {
  background-color: white;
  padding: 60px;
  width: 80%;
  margin-bottom: 55px;
}
.testimonials .white-box .container .topTest {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  font-style: normal;
  text-align: center;
  color: #f94d1c;
  margin-top: 60px;
}
.testimonials .white-box .container h3 {
  text-align: center;
  margin-bottom: 89px;
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #191919;
}
.testimonials .white-box .container .testimonials-stack {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 94px;
}
.testimonials .white-box .container .testimonials-stack .testimonials-column img {
  margin-bottom: 20px;
}
.testimonials .white-box .container .testimonials-stack .testimonials-column p {
  font-family: "Inter";
  font-size: 15px;
  font-weight: normal;
  line-height: 34px;
  font-style: italic;
  text-align: left;
  color: #191919;
}
.testimonials .white-box .container .testimonials-stack .testimonials-column .text-img-stack {
  display: flex;
  align-items: center;
}
.testimonials .white-box .container .testimonials-stack .testimonials-column .text-img-stack img {
  width: 70px;
  height: 70px;
  margin-right: 5px;
}
.testimonials .white-box .container .testimonials-stack .testimonials-column .text-img-stack .text-stack {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.testimonials .white-box .container .testimonials-stack .testimonials-column .text-img-stack .text-stack h4 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  color: #191919;
  margin: 0;
}
.testimonials .white-box .container .testimonials-stack .testimonials-column .text-img-stack .text-stack .business {
  font-family: "Inter";
  font-size: 15px;
  font-weight: normal;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: #f94d1c;
}
.testimonials .white-box .container .testimonials-stack .bottom-section {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.articles-news .container .article-header {
  margin-top: 120px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  font-style: normal;
  color: #f94d1c;
}
.articles-news .container .top-art-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.articles-news .container .article-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.articles-news .container .article-showcase .article-stack {
  position: relative;
}
.articles-news .container .article-showcase .article-stack .img-yellow-stack img {
  max-width: 100%; /* Adjust this as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 28px;
}
.articles-news .container .article-showcase .article-stack .img-yellow-stack .yellow-box {
  background: #F9D783;
  width: 40px;
  height: 45px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.articles-news .container .article-showcase .article-stack .img-yellow-stack .yellow-box h5 {
  margin-bottom: 0;
  font-family: "DM Sans";
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  color: #191919;
  text-align: center;
  padding-top: 10px;
}
.articles-news .container .article-showcase .article-stack .img-yellow-stack .yellow-box p {
  font-family: "Inter";
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  color: rgba(25, 25, 25, 0.7);
  text-align: center;
  margin-bottom: 5px;
  line-height: 1;
}
.articles-news .container .article-showcase .article-stack .img-yellow-stack p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #6A6C71;
  opacity: 1;
}
.articles-news .container .article-showcase .article-stack .img-yellow-stack .newsInfo {
  font-family: "DM Sans";
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  color: #191919;
}
.articles-news .container .article-showcase .article-stack .img-yellow-stack p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: rgba(25, 25, 25, 0.7);
}
.articles-news .container .img-article-dots-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Optional: Align vertically in the center */
  /* Add any other styles you need for the container */
  margin-top: 60px;
  margin-bottom: 90px;
}